.leaflet-popup-content-wrapper {
    background-color: var(--popup-bg);
    color: var(--popup-color);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.leaflet-popup-tip {
    background: var(--popup-bg);
}

.leaflet-popup-close-button span {
    display: none;
}

.scrollable-element {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollable-element::-webkit-scrollbar {
    display: none;
}